---
import { CreateRoom } from "~libs/game-room/components/CreateRoom";
import { Auth } from "~libs/auth/components/Auth";
import { SignOut } from "~libs/auth/components/SignOut";
import { db } from "~libs/drizzle-orm/db";
import { gameRoom } from "drizzle/schemas/schema";
import { eq } from "drizzle-orm";
import { user as userTable } from "drizzle/schemas/auth-schema";

const session = Astro.locals.session;
const user = Astro.locals.user;

export async function getGameRooms() {
  const gameRooms = await db
    .select({
      id: gameRoom.id,
      roomName: gameRoom.roomName,
      creatorName: userTable.name,
    })
    .from(gameRoom)
    .leftJoin(userTable, eq(gameRoom.creatorId, userTable.id));

  return gameRooms;
}
const gameRooms = user?.id ? await getGameRooms() : [];
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Lets play, Big Two ♠</title>
  </head>
  <body class="container mx-auto px-4 max-w-2xl min-h-screen py-8 grid">
    <div class="flex flex-col justify-center gap-8">
      <h1 class="flex flex-col text-center justify-center font-bold mb-2">
        <span class="text-sm">Lets play</span>
        <span class="text-4xl"> Big Two ♠</span>
        {user && <div class="pt-2 text-gray-600">Welcome, {user.name}</div>}
      </h1>

      <div>
        {
          !user && (
            <div class="p-6 rounded-xl w-full flex flex-col gap-6 bg-zinc-100 ">
              <Auth client:load />
            </div>
          )
        }

        {
          user && (
            <div class="w-full flex flex-col gap-6">
              <div class="card bg-base-100 rounded-xl p-6  border-4 border-black">
                <CreateRoom client:load />
              </div>

              <div class="card bg-base-100 rounded-xl p-6  border-4 border-black">
                <div class="flex justify-between items-center mb-6">
                  <h2 class="text-xl font-bold">Rooms ({gameRooms?.length})</h2>
                  <SignOut client:load />
                </div>
                <div class="flex flex-col gap-3">
                  {gameRooms?.map((room) => (
                    <a
                      href={`/${room.id}`}
                      class="p-4 bg-base-200 rounded-lg hover:bg-primary hover:text-primary-content transition-all duration-200"
                    >
                      <div class="text-lg font-bold">{room.roomName}</div>
                      <div class="text-sm opacity-70">
                        Created by {room.creatorName}
                      </div>
                    </a>
                  ))}
                </div>
              </div>
            </div>
          )
        }
      </div>
    </div>
  </body>
  <script>
    import { honoClient } from "~libs/hono-actions";

    honoClient.api.test.$get().then(async (resp) => {
      console.log("🚀 ~ json:", await resp.json());
    });
  </script>
</html>
