---
import { ClientRouter } from "astro:transitions";
import { eq } from "drizzle-orm";
import { gameRoom } from "drizzle/schemas/schema";

import { db } from "~libs/drizzle-orm/db";
import { GameRoom } from "~libs/game-room/page/GameRoom";

const { roomId } = Astro.params;
const userId = Astro.locals.user?.id;
const userName = Astro.locals.user?.name;

if (!roomId || !userId || !userName) {
  return Astro.redirect("/");
}

const roomRecord = (
  await db.select().from(gameRoom).where(eq(gameRoom.id, roomId))
)[0];
---

<ClientRouter />

<a href="/">Back to Home</a>

<h1 class="m-3 text-2xl">
  Welcome to room {roomId}, {userId} (<code>{userName}</code>)
</h1>

<GameRoom
  currentUserId={userId}
  roomId={roomId}
  gameState={roomRecord.gameState}
  client:load
/>
<!-- <script src="https://unpkg.com/react-scan/dist/auto.global.js"></script> -->
