---
import { GameRoom } from "~libs/game-room/page/GameRoom";
import pbAdmin from "~libs/pocketbase/pocketbase-admin";
import type { Room } from "~libs/types/Room";

const { roomId } = Astro.params;

const { pb } = Astro.locals;

if (!pb.authStore.isValid) {
  console.log("redirect back to home page!");
  return Astro.redirect("/");
}

if (!roomId) {
  return Astro.redirect("/");
}

const currentUserId = pb.authStore.model?.id;
const userName = pb.authStore.model?.name;

// // check players in this room
const roomDetails = await pbAdmin.collection("rooms").getOne<Room>(roomId);
---

<a href="/">Back to Home</a>

<h1 class="m-3 text-2xl">
  Welcome to room {roomId}, {userName} (<code>{currentUserId}</code>)
</h1>

<GameRoom
  currentUserId={currentUserId}
  roomId={roomId}
  players={roomDetails.players}
  gameState={roomDetails.gameState}
  client:load
/>
<script src="https://unpkg.com/react-scan/dist/auto.global.js"></script>
