---
import { GameRoom } from "../../components/GameRoom";
import pbAdmin from "../../libs/pocketbase-admin";

const { roomId } = Astro.params;

if (!roomId) {
  Astro.redirect("/");
  return;
}

const currentUserId = Astro.locals.pb.authStore.model?.id;
const userName = Astro.locals.pb.authStore.model?.name;

// check players in this room
const roomDetails = await pbAdmin.collection("rooms").getOne(roomId);
---

<a href="/">Back to Home</a>

<h1>Welcome to room {roomId}, {userName}</h1>

<GameRoom
  currentUserId={currentUserId}
  roomId={roomId}
  players={roomDetails.players}
  client:load
/>
